{% extends 'main.html' %}

{% load static %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon1.ico' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block edit_user %}{% endblock %}

{% block content %}

    <div class="chat-container">
        <header class="bg-primary text-white p-4 text-center">
            <h1>Chat AI</h1>
        </header>
        <main class="flex flex-col flex-grow p-4">
            <div id="chat-history" class="chat-history mb-4">
                <!-- Chat history will be dynamically inserted here -->
            </div>
            <div class="justify-center text-center">
                <form method="POST" id="chat-form" class="flex w-full">
                    {% csrf_token %}
                    <div class="">
                        <input id="chat-input" type="text" class="border border-primary bg-white"
                            placeholder="Type your message here...">
                            <br><br>
                        <button type="submit" class="btn bg-primary text-white p-4">Send</button>
                    </div>
                </form>
            </div>
        </main>
    </div>

{% block footer %}{% endblock %}

{% endblock %}
