@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/*==============================
=>  Color Variables
================================*/
:root {
    --color-main: #71c6dd;
    --color-main-light: #e1f6fb;
    --color-dark: #3f4156;
    --color-dark-medium: #51546e;
    --color-dark-light: #696d97;
    --color-light: #e5e5e5;
    --color-gray: #8b8b8b;
    --color-light-gray: #b2bdbd;
    --color-bg: #2d2d39;
    --color-success: #5dd693;
    --color-error: #fc4b0b;
}

/*==============================
=>  Base Styles
================================*/
* {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: inherit;
}

html {
    font-size: 63.25%;
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (min-width: 2100px) {
    html {
        font-size: 75%;
    }
}

body {
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-light-gray);
    background-color: var(--color-bg);
    min-height: 100vh;
}

img {
    width: 100%;
}

a {
    display: inline-block;
    color: var(--color-main);
    text-decoration: none;
}

/*========== components ==========*/

.container {
  max-width: 120rem;
  width: 90%;
  margin: auto;
}

/* Ensure that containers do not overflow */
.container-fluid .conversation-container {
  background-color: rgb(41, 41, 46) !important;
  max-width: 100%; /* Prevent horizontal overflow */
  overflow: hidden; /* Hide overflowing content */
  word-break: break-word; /* Break long words to fit the container */
  padding: 15px; /* Add padding inside the container */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.form-group {
  width: 100%;
  max-width: 500px; /* Optional: Set max-width to control the input size */
  margin: 0 auto; /* Center the form group */
}

.form-group input, .form-group select, .form-group textarea {
  width: 100%; /* Make the input fields take full width */
  text-align: center; /* Center the text inside input */
  margin-bottom: 15px; /* Space between input fields */
}

button.submit {
  width: auto; /* Adjust the button width */
}

/*============ pages title =================*/
div.p-3.rounded-3.jumbotron.bg-dark.text-light.my-4 {
  background-color: rgb(81, 84, 110) !important;
}

.btn {
  background-color: rgb(41, 41, 46);
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  font-size: small;
  font-weight: 500;
}

.btn--link {
  border-radius: 0;
  padding: 0;
  color: var(--color-main);
  box-shadow: none;
}

.btn--link:hover {
  text-decoration: underline;
}

.btn--main {
  background-color: var(--color-main);
  color: var(--color-dark);
}

.btn:hover {
  opacity: 0.9;
}

.btn--dark {
  background-color: var(--color-dark-light);
  color: var(--color-light);
}

/*==============================
=>  Layout
================================*/

.layout {
  margin-top: 2.4rem;
}

.layout > .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.layout--3 > .container > div:first-child {
  flex-basis: 18%;
  max-width: 22.5rem;
}

.layout--3 > .container > div:nth-child(2) {
  flex-basis: 50%;
}

.layout--3 > .container > div:last-child {
  flex-basis: 25%;
}

.layout--2 > .container > div:first-child {
  flex-basis: 72%;
}

.layout--2 > .container > div:last-child {
  flex-basis: 25%;
}

/*========== Layout Box ==========*/

.layout__box {
  width: 90%;
  max-width: 48rem;
  min-height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  background-color: var(--color-dark);
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  background-color: var(--color-dark-light);
}

.layout__boxTitle {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.layout__boxTitle h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-light);
}

.layout__boxTitle svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-main);
}

.layout__body {
  margin: 3rem;
}

@media screen and (max-width: 900px) {
  .activities,
  .topics {
    display: none;
  }

  .layout--3 > .container > div:nth-child(2) {
    flex-basis: 100%;
  }
}

/*==============================
=>  Topics
================================*/

.form__group {
  margin-bottom: 2rem;
  width: 100%;
}

.form__split {
  display: flex;
  gap: 1.5rem;
}

.form__group label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form__group input,
.form__group textarea,
.form__group select {
  background: transparent;
  border: 1px solid var(--color-dark-light);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  font-weight: 500;
  outline: none;
}

.form-control {
    background-color: rgb(105, 109, 151) !important;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--color-main);
}

.form__group textarea {
  background: transparent;
  height: 10rem;
  resize: none;
}

.form__group select {
  color: var(--color-gray);
  font-weight: 400;
}

.form__group select option {
  background-color: var(--color-dark-light);
  color: var(--color-light);
  padding: 0 10rem;
}

.form__action {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.form__hide {
  position: absolute;
  left: -9999px;
}

.form__avatar label {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-main);
  cursor: pointer;
}

.form__avatar label:hover {
  text-decoration: underline;
}

/*==============================
=>  Auth
================================*/

.auth__tagline {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-main);
  font-weight: 500;
  font-size: 1.8rem;
}
.auth .layout__boxHeader {
  text-align: center;
  justify-content: center;
}

.auth__action {
  margin-top: 3rem;
  text-align: center;
}

/*==============================
=>  Profile
================================*/

.profile {
  margin-bottom: 3rem;
}

.profile__avatar {
  text-align: center;
}

.profile__info {
  text-align: center;
}

.profile__info h3 {
  font-size: 2rem;
  color: var(--color-light);
  font-weight: 400;
}

.profile__info p {
  color: var(--color-main);
  font-weight: 500;
  margin-bottom: 1rem;
}

/*==============================
=>  Title Styles
================================*/

#content > div.container-fluid > div > div > h1,
#content > div > div.container-fluid > div > div > h1 {
    background-color: rgb(41, 41, 46);
    border-radius: 0.3rem;
    color: #ab51f5;
    font-family: 'Merriweather', sans-serif;
    font-display: swap;
    font-size: 1.9rem;
    font-weight: 900;
    margin: 0;
    text-align: center;
    text-decoration: underline;
}

/*==============================
=>  Jumbotron Animation
================================*/

#content > div.container-fluid > div > div {
    animation: color-change 10s linear infinite;
}

@keyframes color-change {
    25% {
        background-color: #FC5378;
    }
    50% {
        background-color: #4044E6;
    }
    100% {
        background-color: #47FFAC;
    }
}

/*==============================
=>  Navigation Styles
================================*/

#content > nav {
    margin-bottom: 0rem;
}

#content > nav > a {
    color: #9ED2C6;
    font-size: medium;
}

#content > nav > button {
    background-color: rgb(45, 45, 57) !important;
    color: #9ED2C6;
    border: 0.1rem solid #9ED2C6;
}

/*==============================
=>  Navbar Styles
================================*/

#content > nav > button {
    background-color: rgb(41, 41, 46) !important;
}
.navbar-toggler-icon {
    background-color: rgb(41, 41, 46) !important;
    border: 0.09rem solid #9ED2C6;
    border-top-left-radius: 55%;
    border-bottom-right-radius: 55%;
}

.navbar-toggler-icon:hover {
    border-radius: 0;
    border-bottom-left-radius: 55%;
    border-top-right-radius: 55%;
}

#navbarSupportedContent > ul > li > a {
    color: #9ED2C6;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
}

#navbarSupportedContent > ul > li > a:hover {
    color: #47FFAC;
}

.navbar.nav-home {
    margin-bottom: 0;
}

.container {
    padding: 0 15px; /* Add padding to container */
}

.navbar-nav .nav-link {
    font-size: 1.3rem; /* Adjust font size if needed */
}

.navbar-brand {
    white-space: nowrap; /* Prevent brand name from wrapping */
}

.navbar-toggler {
    margin-right: auto; /* Center align the navbar toggler */
}

/*==============================
=>  Custom UI Components
================================*/

.crown {
    border: 0.1rem solid #AEFAFC;
    border-radius: 2.3rem;
    padding: 0.3rem;
    width: 2.7rem;
}

.loading {
    border: 0.1rem solid #AEFAFC;
    border-radius: 2.3rem;
    padding: 0.3rem;
    width: 3.7rem;
}

/*==============================
=>  Footer Styles
================================*/

.copyright {
    background-color: rgb(41, 41, 46);
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    color: #b55fd9;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
}

/*==============================
=>  Website Chat Section
================================*/

.chat-container {
    display: flex;
    flex-direction: column;
    height: 89vh;
}

.chat-history {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-message {
    display: flex;
    margin-bottom: 0.5rem;
}

.chat-message.ai {
    justify-content: flex-start;
}

.chat-message.user {
    justify-content: flex-end;
}

.message {
    max-width: 70%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.message.ai {
    background-color: #bfdbfe;
    color: rgb(22, 20, 20);
    text-align: left;
}

.message.user {
    background-color: #1267cf;
    color: #fff;
    text-align: right;
}

#chat-input {
  padding: 1rem;
}

/*==============================
=>  2AF Authentication Section
================================*/

/* Custom CSS for QR Code Size */
#content > div:nth-child(4) > p:nth-child(3) > img {  
    width: 100px !important;  /* Adjust to your desired width */
    height: 100px !important; /* Adjust to your desired height */
}

#content > div:nth-child(3),
#content > div:nth-child(4),
#content > div > form > table > tbody {
  text-align: center !important;
}

#id_auth-username, #id_token-otp_token {
  margin: 3rem !important;
}

#id_method-method > div {
  margin: 1.9rem;
}

#content > div > form > table {
  margin-bottom: 5rem !important;
}

#content > div > form > button,
#content > div > p > a {
  background-color: #8b8b8b !important;
}
